@import "@fontsource-variable/geist";
@import "@fontsource-variable/jetbrains-mono";
@import "@litgit/ui/globals.css";

@theme inline {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

@utility grid-rows-app-shell {
  grid-template-rows: auto 1fr auto;
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
