# -----------------------------------------------
# External Links
# -----------------------------------------------
# Repository URL for "Source code".
VITE_SOURCE_CODE_URL="https://github.com/yourtoools/Litgit"
# Issue tracker URL for "Report a bug".
VITE_BUG_REPORT_URL="https://github.com/yourtoools/Litgit/issues"
# Release notes URL for footer version link.
VITE_RELEASE_NOTES_URL="https://github.com/yourtoools/Litgit/releases"
